.flowchart-container {
  position: relative;
  overflow: hidden;
}
.flowchart-links-layer,
.flowchart-operators-layer,
.flowchart-temporary-link-layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.flowchart-operator-inputs .flowchart-operator-connector-arrow,
.flowchart-operator-inputs .flowchart-operator-connector-small-arrow {
  left: -1px;
}
.flowchart-operators-layer,
.flowchart-temporary-link-layer {
  pointer-events: none;
}
.flowchart-fail {
  color: #a91313;
  text-align: center;
  width: 100%;
  font-weight: 700;
  box-sizing: border-box;
  height: auto;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: move;
}
.flowchart-pending {
  color: #d7a321;
  text-align: center;
  width: 100%;
  font-weight: 700;
  height: auto;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: move;
}
.flowchart-success {
  color: green;
  text-align: center;
  width: 100%;
  font-weight: 700;
  box-sizing: border-box;
  height: auto;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: move;
}


.flowchart-temporary-link-layer {
  display: none;
}

.flowchart-align div{
  display: inline-block;
  height: auto;
}

.flowchart-link,
.flowchart-operator {
  cursor: default;
}
.flowchart-operator-connector {
  position: relative;
  padding-top: 5px;
  padding-bottom: 5px;
}
.flowchart-operator-connector-label {
  font-size: small;
}

.flowchart-operator-inputs .flowchart-operator-connector-label {
  margin-left: 14px;
}
.flowchart-operator-outputs .flowchart-operator-connector-label {
  text-align: right;
  margin-right: 5px;
}
.flowchart-operator-connector-arrow {
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 10px solid #ccc;
  margin-top: 3px;
  position: absolute;
  top: 0;
}
.flowchart-operator-connector-small-arrow {
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid transparent;
  position: absolute;
  margin-top: 3px;
  top: 5px;
  pointer-events: none;
}
.flowchart-operator-connector:hover .flowchart-operator-connector-arrow {
  border-left: 10px solid #999;
}
.flowchart-operator-outputs .flowchart-operator-connector-arrow {
  right: -10px;
}
.flowchart-operator-outputs .flowchart-operator-connector-small-arrow {
  right: -7px;
}
.unselectable {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.flowchart-operator {
  position: absolute;
  width: 170px;
  border: 1px solid #ccc;
  background: #fafafa;
  pointer-events: initial;
}
.flowchart-operator.hover {
  border-color: #999;
}
.flowchart-operator.selected {
  border-color: #555;
  background-color: cornsilk;
}
.flowchart-operator .flowchart-operator-title {
  text-align: center;
  width: 100%;
  padding: 3px;
  font-weight: 550;
  font-size: small;
  box-sizing: border-box;
  border-bottom: 1px solid #ddd;
  height: auto;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: move;
}
.flowchart-operator .flowchart-operator-inputs-outputs {
  display: table;
  width: 101%;
  margin-top: 3px;
  margin-bottom: 3px;
}
.flowchart-default-operator .flowchart-operator-outputs,
.flowchart-operator .flowchart-operator-inputs {
  display: table-cell;
  width: 40%;
}

div.line{
  transform-origin: 0 100%;
  height: 3px; /* Line width of 3 */
  background: #000; /* Black fill */
}